<%= button_to 'Where to Eat', results_path, method: :get %>


<p>Much like your palate, would you like to refine your search?</p>
<%= button_to 'Login with Google', '/auth/google_oath2/callback', method: :get %>